<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teste.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\hd\Documentos\Banco de Dados\Database1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Teste.Properties.Settings.Database11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\hd\Documentos\Banco de Dados\Database11.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Teste.Properties.Settings.PessoaConnectionString"
            connectionString="Data Source=DESKTOP-0M70IH6\SA;Initial Catalog=Pessoa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>